
/*
*{
	border: 1px red solid;
	box-sizing: border-box;
} 
*/

.main {
	box-sizing: border-box;
	/*display: inline-block;*/
	position: absolute;
	left: 10%;
	top: 20%;
}

#Slist {
	font-family: "Fjalla One", sans-serif;
	-webkit-font-smoothing: antialiased;
	color:  #ff8d60;
	letter-spacing: .75px;
	padding: 0;
	margin: 10px 0;
	box-sizing: border-box;
}

#addItems {	
	font-family: "Fjalla One", sans-serif;
	color:  #b5b3b3;
	width: 300px;
	border-style: solid;
	border-radius: 10px;
	background-color: #fff;
	padding-left: 5px;
	margin-left: -5px;
	margin-bottom: 5px;
}

::-webkit-input-placeholder {
	color: #d6d6d6;
} 

.list {
	position: fixed;
	left: 45%;
	top: 8%;
	width: 500px;
}

.shoppingList {
	padding: 0;
}

.shoppingList li {
	display: block;
	font-family: "Fjalla One", sans-serif;
	color:  #ff8d60;
	letter-spacing: .25px;
	text-align: center;
	border: 1px solid #aaaaaa;
	border-radius: 10px;
	margin-top: 5px;
	padding: 3px 5px 5px 3px;
}

.shoppingList #check,
.shoppingList #unCheck {
	float: left;
}

.shoppingList #remove {
	float: right;
}

.shoppingList > .bought {
	color: #d6d6d6;
	text-decoration: line-through;
}

#check,
#unCheck,
#remove {
	opacity: .6;
}

.bought > #remove {
	opacity: .1;
}

.bought > #unCheck {
	opacity: .2;
}

.instructions > p {
	font-family: "Fjalla One", sans-serif;
	font-size: 14px;
	margin-bottom: -15px;
	color: #d6d6d6;
}

.bottom {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 1%;
	box-sizing: border-box;
	
}

.bottomImages > li {
	display: inline-block;
	margin: 15px;
	padding: 0px;
}

